<!-- Modal -->
<div id="model-capture-form" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>กรอกข้อมูลเพื่อบันทึกรูปเข้าระบบ</h5>

        <!-- Form -->
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <!-- Display Capture Image -->
                    <img style="width:100%;" id="imageCapture" />
                    <!-- Display Capture Image -->
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Textarea</label>
                    </div>
                </div>
            </form>
        </div>
        <!-- Form -->

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-orange btn-flat orange">Close</a>
        <a href="#!" class="modal-action waves-effect waves-green btn-flat green">Save</a>
    </div>
</div>
<!-- Modal -->