<script type="text/javascript">
	
	$(document).ready(function(){
		$("#FeedView").on("click","img",function(){
			$('.materialboxed').materialbox();
		});
		$("#FeedView").on("click","#profile",function(){
			
		});
		$("#FeedView").on("mouseover","i",function(){
			$(this).css("cursor","pointer");
		});
		/*$("#FeedView").on("click",".like",function(){
			var id = $(this).closest("div").find("input").val();
			console.log(id);

			//alert("LIKE !!");

		});*/
	});
</script>


<div id="FeedView" ng-controller="FeedController as vm" >
	<h1>{{vm.title}}</h1>
	<!-- <div ng-repeat="profile in vm.profileList"> -->
	<ul ng-repeat="profile in vm.profileList | orderBy:'-total_rate'" class="collection" style="padding: 10px;">
		
		<div class="col m4" >
			<div class="col m6 s6" >
			<!-- materialboxed -->
				<img src="images/default-img.png"  data-caption=" Hello World {{profile.name}}"  alt="" class="z-depth-2 hoverable materialboxed" style="width: 100%;height: 100%">
			</div>
			<div class="col  m6 s6">
				<span class="title"><b>{{profile.name}}</b></span>
				<p>Age : {{profile.age}} <br>
					Status : {{profile.status}}  <br>
					<div class="row">
						<div class="col m4 center-align" >
							<i class="material-icons ">face</i> <br>
							<label>{{profile.total_rate}}</label>
							<!-- <label>23.5k</label> -->

						</div>
						<!-- <div class="col m4 center-align" >
							 <i class="material-icons">grade</i> <br>
							<label>17.5k</label> 
						</div> -->
						<!-- <div class="col m4 center-align like" ng-click="vm.like(profile.id)">
							<i class="material-icons">thumb_up</i> <br>
							
						</div> -->
					</div>
				</p>
			</div>
		</div>
		<div ng-repeat="gallory in profile.gallerys  | limitTo:4 | orderBy:'-total_rate' " class="col m2 s3">
			<div class="col  m12">
			
			<!-- materialboxed -->
				<img src="images/default-img.png" alt="" class="z-depth-2 hoverable materialboxed" style="width: 100%;height: 100%">
				<div class="col m12 center-align like " ng-click="vm.like(profile.idUser,profile.idGal)">
				<div class="valign-wrappe col m12">
					<i class="material-icons">thumb_up</i> 
					<label>{{gallory.gallary_rate_count}}</label>
				</div>
				</div>
			</div>
		</div>
		<div  class="col m2 s3  center-align right" style="margin-top:10px;">
			<!-- <u><a id="Profile" href="#Profile">See More</a></u> -->
			<u><a ng-href="/profile?user_id=1234">See More</a></u>
		</div>
	</ul>
</div>