<div ng-controller="LoginController as vm">
        
<div class="container">
        <center>
            <br>
            <button id="sign-facebook" ng-click="vm.facebook()">Sign-in with facebook</button>
            <br>
            <button id="sign-google" ng-click="vm.google()">Sign-in with google</button>
             <br>            
             
            <br>
            <button id="sign-twitter" ng-click="vm.twitter()">Sign-in with twitter</button>
        </center>

        <h2> </h2>
    </div>
</div>