<script type="text/javascript">
    $('.materialboxed').materialbox();
</script>

<div ng-controller="ProfileController as vm">
    
    <div ng-repeat="level1 in vm.imageToPage">
        <div class="col m12">
            <div class="col m12">
                <div class="col m12">
                    <h5>{{level1.data}}</h5>
                </div>
            </div>
        </div>
        <div class="col m12">
            <div class="col m3" >
                <div class="col m12 s12" >
                    <img src="images/default-img.png" alt="" class="z-depth-2 hoverable materialboxed" style="width: 100%;height: 100%">
                    <div class="valign-wrapper">
                        <i class="material-icons ">grade</i>
                        <label>23.5k</label>
                    </div>
                </div>
            </div>
            <div class="col m8">
                <div ng-repeat="level2 in level1.value">
                    <div class="col m2 s6">
                        <img src="images/default-img.png" alt="" class="z-depth-2 hoverable materialboxed" style="width: 100%;height: 100%">
                        <div class="valign-wrapper">
                            <i class="material-icons ">grade</i> 
                            <label>23.5k</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>